# enforce text files to unix line endings
* text eof=lf

# enforce unix line endings/spacings
*.js text eol=lf
*.css text eol=lf

# enforce following files to binary
*.png binary
*.ttf binary

#ignore some of the css so that github identifies as js not css
server/client/style.css linguist-vendored
server/client/dist/* linguist-vendored


### note
### after doing this sometimes helpfull to remove gitindex and rescan working dirrectory by running
# rm .git/index
### rewrite git index to pick up new line endings
# git reset
### show the rewritten files
# git status

## after this do a commit and see what files line endings where really changed.
