doctype html
html
  head
    title Lucy Kwad
    link(rel='stylesheet', href='style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  .flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block content